.featured-blog {
  .post_width {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;

    .blog-post__item {
      width: 100%;
      height: 100%;
      list-style: none;
      border: 2px solid #dee2e6;
      border-radius: .1rem;

      img {
        transition: .2s;

        &.rotate {
          &:hover {
            transform: rotate(2deg);
          }
        }
        &.around {
          &:hover {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .featured-blog {
    .post_width {
      &-1 {
        .blog-post__item {
          width: 100%;
        }
      }
      &-2, &-4 {
        .blog-post__item {
          width: calc(50% - 2rem);
        }
      }
      &-3 {
        .blog-post__item {
          width: calc(33.3% - 2rem);
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .featured-blog {
    .post_width {
      &-1 {
        .blog-post__item {
          width: 100%;
        }
      }
      &-2 {
        .blog-post__item {
          width: calc(50% - 2rem);
        }
      }
      &-3 {
        .blog-post__item {
          width: calc(33.3% - 2rem);
        }
      }
      &-4 {
        .blog-post__item {
          width: calc(25% - 2rem);
        }
      }
    }
  }
}
