// RESET
p {
  padding: 0;
  margin: 0;
}

svg {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

// NAVIGATION
#hamburger {
  padding:0;
  background-color: transparent;

  .hamburger-line {
    background: #000;
    height: 0.1rem;
    width: 2rem;
    margin: .4rem;
  }
}

.dropdown{
  .dropdown-menu {
    .dropdown-item:hover, .dropdown-item:active {
      background: transparent !important;
      color: #000;
    }
  }
}

.nav-item {
  a, span {
    position: relative;

    &:hover {
      text-decoration: none !important;
    }
  }
}

a:hover {
  text-decoration: none !important;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    .nav-item {
      margin-left: 1rem;
    }
  }
}

// GENERAL 
.shopify-payment-button__button {
  color: #fff;
  background-color: #343a40 !important;
  border-color: #171a1d !important;
  margin-top: 1rem;

  &:hover {
    background-color: #1d2124 !important;
  }
}

.container {
  min-height: 23rem;
}

@media only screen and(min-width: 576px) {
  .footer_element {
    width: calc(50% - 2rem) !important;
  }
}

@media only screen and(min-width: 960px) {
  .footer_element {
    width: calc(33% - 2rem) !important;
  }
}
